<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appStore.dao.ApkAutomaticConfigurationMapper">
  <resultMap id="BaseResultMap" type="com.appStore.entity.ApkAutomaticConfiguration">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="model_version_id" jdbcType="INTEGER" property="modelVersionId" />
    <result column="app_upgrade_id" jdbcType="INTEGER" property="appUpgradeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, model_version_id, app_upgrade_id, status
  </sql>
  
  <!-- ~~~~~~~~~~~~~begin自定义sql~~~~~~~~~~~~~~~ -->
  <!-- 查询自动配置推送的APP升级集合-->
  <select id="selectByApkAutoList" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
    from apk_automatic_configuration
  </select>
  
  <!-- 查询状态通过的自动配置策略信息 -->
  <select id="selectByApkAutoStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apk_automatic_configuration
    where model_version_id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- ~~~~~~~~~~~~~end自定义sql~~~~~~~~~~~~~~~ -->  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apk_automatic_configuration
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apk_automatic_configuration
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.appStore.entity.ApkAutomaticConfiguration">
    insert into apk_automatic_configuration (id, model_version_id, app_upgrade_id, 
      status)
    values (#{id,jdbcType=INTEGER}, #{modelVersionId,jdbcType=INTEGER}, #{appUpgradeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.appStore.entity.ApkAutomaticConfiguration">
    insert into apk_automatic_configuration
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="modelVersionId != null">
        model_version_id,
      </if>
      <if test="appUpgradeId != null">
        app_upgrade_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modelVersionId != null">
        #{modelVersionId,jdbcType=INTEGER},
      </if>
      <if test="appUpgradeId != null">
        #{appUpgradeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.appStore.entity.ApkAutomaticConfiguration">
    update apk_automatic_configuration
    <set>
      <if test="modelVersionId != null">
        model_version_id = #{modelVersionId,jdbcType=INTEGER},
      </if>
      <if test="appUpgradeId != null">
        app_upgrade_id = #{appUpgradeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.appStore.entity.ApkAutomaticConfiguration">
    update apk_automatic_configuration
    set model_version_id = #{modelVersionId,jdbcType=INTEGER},
      app_upgrade_id = #{appUpgradeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>